// Styling for the masthead
header.masthead {
  text-align: center;
  color: $gray-700;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 180px;
    padding-bottom: 70px;
    .intro-lead-in {
      font-size: 22px;
      font-weight: bold;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 22px;
      font-weight: normal;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 180px;
      padding-bottom: 70px;
      .intro-lead-in {
        font-size: 22px;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 22px;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 25px;
        @include serif-font;
      }
    }
  }
}
