// Global styling for this template
body {
  overflow-x: hidden;
  font-size: 18px;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
    text-decoration: underline;
  }
}

a2 {
  color: $white;
  &:hover {
    color: $white;
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 55px 0;
  h2.section-heading {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  h3.section-subheading {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
    text-transform: none;
    @include serif-font;
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
